<a [href]="profile.link" target="_blank">
  <figure>
    <div class="img">
      <img *ngIf="profile.image" [src]="profile.image">
    </div>
    <figcaption>
      <div>{{ profile.fullName || 'John Doe' }}</div>
      <div>{{ profile.email }}</div>
      <div>{{ profile.username }}</div>
    </figcaption>
  </figure>
</a>

<pre>{{ profile | json }}</pre>
<button *ngIf="!connected"
  type="button" [ngClass]="type" (click)="connect.emit()"
>{{ status === 1 ? 'SDK Loading...' :  status === 4 ? 'Connecting...' : 'Connect with ' + type }}</button>
<button *ngIf="connected"
  type="button" [ngClass]="type" (click)="disconnect.emit()"
>{{ status === 4 ? 'Disconnecting...' : 'Disconnect ' + type }}</button>&nbsp;
{{ 'Status: ' + status }}
