<main>
  <h1>ng-socializer</h1>

  <div class="contents">
    <social-box
      [connected]="facebookConnected$ | async"
      [profile]="facebookProfileInfo$ | async"
      [status]="facebookStatus$ | async"
      (disconnect)="disconnect('facebook')"
      (connect)="connect('facebook')"
      type="facebook"
    ></social-box>

    <!-- <section>
      <pre></pre>
      <button type="button" class="google">Connect with Google</button>
    </section> -->

    <!-- <section>
      <pre></pre>
      <button type="button" class="instagram">Connect with Instagram</button>
    </section> -->

    <!-- <section>
      <pre></pre>
      <button type="button" class="pinterest">Connect with Pinterest</button>
    </section> -->
  </div>
</main>
