<main>
  <h1>ng-socializer</h1>

  <div class="contents">
    <social-box
      [connected]="facebookConnected$ | async"
      [profile]="facebookProfileInfo$ | async"
      [status]="facebookStatus$ | async"
      (disconnect)="disconnect('facebook')"
      (connect)="connect('facebook')"
      type="facebook"
    ></social-box>

    <social-box
      [connected]="googleConnected$ | async"
      [profile]="googleProfileInfo$ | async"
      [status]="googleStatus$ | async"
      (disconnect)="disconnect('google')"
      (connect)="connect('google')"
      type="google"
    ></social-box>

    <!-- <social-box
      [connected]="instagramConnected$ | async"
      [profile]="instagramProfileInfo$ | async"
      [status]="instagramStatus$ | async"
      (disconnect)="disconnect('instagram')"
      (connect)="connect('instagram')"
      type="instagram"
    ></social-box> -->

    <!-- <social-box
      [connected]="pinterestConnected$ | async"
      [profile]="pinterestProfileInfo$ | async"
      [status]="pinterestStatus$ | async"
      (disconnect)="disconnect('pinterest')"
      (connect)="connect('pinterest')"
      type="pinterest"
    ></social-box> -->
  </div>
</main>
